<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blloc.notification.test"
    android:sharedUserId="com.blloc.notification.uid"
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
